n8n_workflows/airtable_to_postgres.json
{
  "name": "Airtable",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ae4ef857-b867-48de-8ecb-1aebc1d3dfd0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app1hUHHV085oBKD4",
          "mode": "list",
          "cachedResultName": "Data Hub Task",
          "cachedResultUrl": "https://airtable.com/app1hUHHV085oBKD4"
        },
        "table": {
          "__rl": true,
          "value": "tblDz1J7cRfyhvcF0",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app1hUHHV085oBKD4/tblDz1J7cRfyhvcF0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "3bcaeb05-7ff4-42f1-9ff1-47cc1fe694c9",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "FBA4OC7OY6NAPLn8",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "airtable_data",
          "mode": "list",
          "cachedResultName": "airtable_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source_id": "={{ $json.id }}",
            "task": "={{ $json.fields.Task }}",
            "status": "={{ $json.fields.Status }}",
            "priority": "={{ $json.fields.Priority }}",
            "assignee": "={{ $json.fields.Assignee }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assignee",
              "displayName": "assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "imported_at",
              "displayName": "imported_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "58468d6a-62ff-4264-90e2-344bc7310d98",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "zS57NM4zmvPef3a0",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bd1da2fa-4954-4506-8f12-591dc3af3852",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "355836ee4cb39df4afdbb86e2eedec123c84e11bf8196f6584a5f9e28aa3cf99"
  },
  "nodeGroups": [],
  "id": "z3f3SqGxyd1U3vi3",
  "tags": []
}